@page "/"
@using SberBullsCows.Helpers
@using SberBullsCows.Models
@inherits MainPage

@if (RulesOpened)
{
    <div class="rules">
        <img src="rules.png" alt="Текст правил"/>
    </div>
}
else if (!State.GameStarted)
{
    <div class="menu">
        <button class="menu-button" @onclick="() => StartGame()">Простая игра</button>
        <button class="menu-button" @onclick="() => StartGame(true)">Сложная игра</button>
    </div>
}
@if (!State.CurrentWord.IsNullOrEmpty())
{
    <div class="main-container">
        <span class="word-top">
            <span class="left-width score">@ScoreText</span><div class="green">@(CurrentWordShown)</div>
        </span>
        <div class="words-said">
            @foreach (WordSaid wordSaid in WordsOrdered)
            {
                <div class="word-line">
                    <span class="counts left-width">
                        <span class="@(wordSaid.Bulls > 0 ? "green" : "")"> @(wordSaid.Bulls + "🐃 ")</span>
                        <span class="@(wordSaid.Cows > 0 ? "green" : "")"> @(wordSaid.Cows + "🐄")</span>
                    </span>
                    <span class="word-said">
                        <span>@wordSaid.Word.ToUpper().SafeSubstring(State.CurrentWord.Length)</span>
                        <span style="opacity: 0.5;">
                            @(wordSaid.Word.Length > State.CurrentWord.Length
                                ? GetTail(wordSaid.Word.ToUpper()[State.CurrentWord.Length..])
                                : ""
                                )
                        </span>
                    </span>
                </div>
            }
        </div>
    </div>
}
<button class="rules-button@((!RulesOpened && State.GameStarted) ? " move-button" : "")" @onclick="ShowHideRules">
    @(RulesOpened ? "X" : "Правила")
</button>